"*":
  autosave:
    enabled: true
  "chary-tree-view":
    dirSingleClick: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "bookmarks"
      "command-palette"
      "dalek"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "git-diff"
      "github"
      "grammar-selector"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-java"
      "language-javascript"
      "language-json"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-toml"
      "language-xml"
      "language-yaml"
      "metrics"
      "notifications"
      "open-on-github"
      "package-generator"
      "status-bar"
      "styleguide"
      "timecop"
      "update-package-dependencies"
      "welcome"
      "bracket-matcher"
      "autocomplete-html"
      "autocomplete-css"
      "autocomplete-plus"
      "image-view"
      "line-ending-selector"
      "markdown-preview"
      "snippets"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
  "exception-reporting":
    userId: "32b2f302-1265-4d63-bb22-de6b4a526575"
  welcome:
    showOnStartup: false
